#jum{
    background: gray;
}
#par{
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}
#main button{
    
    color: #fff;
    
}
#name {
    margin: 5px;
    padding: 5px;
}
#form{
    background: #fff;
}
.addName{
    padding:4px 20px;
    margin: 5px;
    width: auto;
}
#submit{
 margin-top: 10px;
}
#submit{
    margin-bottom: 20px
}